@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.ylw-shadow {
  color: transparent;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */

  -webkit-text-stroke: 1px #a1c56f;
}

.shadow-cstm {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.grid-width {
  grid-template-columns: 1fr 1.55fr 1fr;
}
